scipy>=1.15
networkx>=3.4
numpy>=2.2.3
matplotlib>=3.10
urllib3>=2.3.0
validators>=0.34.0
pynput=1.7.8
PyAutoGUI>=0.9.54
ollama=0.4.7
openai=1.63.0
keyboard=0.13.5
pyttsx3=2.98
requests>=2.32.3
beautifulsoup4>=4.13.3
pandas>=2.2.3